<%- include('../partials/header',{title:'Login', page: 'login'}); -%>
<%- include('../partials/navbar', {isLoggedIn: false, page: 'login'}) -%> 

<section class="authentication">
	<div class='sign-in'>
		<h2 class="title">I already have an Account</h2>
		<span>Log in with your email and password</span>

		<form action="" method="POST">
			<small class="error" id="signin-error"></small>
			<div class="group">
				<input placeholder="Email" class="form-input" id="login-email"  type="email" name="email" required label="email">
			</div>
			<div class="group">
				<input placeholder="Password" class="form-input" id="login-password" type="password" name="password" required label="email">
			</div>
			<div >
				<label class="float-left" style = "font-weight: normal">
					<input type="checkbox" name="Rememberme"> Remember Me
				</label>
			</div>
			<br>
			<div class='buttons'>
				<button type="submit" class="custom-button" id="signin-button" >Sign In</button>
			</div>
			<br/>
			<% 
				if(typeof error !== 'undefined' && error != "")
				{ 
			%>
				<div class="err-msg">
					<%= error %>
				</div>
			<% 
				} 
			%>
			<div class="form-footer">
				<a style="text-decoration: none;" href="/auth/forgotpassword">Forgot Password</a>
				<a style="text-decoration: none;" href="/auth/signup">Create a new account</a>
			</div>
		</form>
	</div>
</section>

<%- include('../partials/footer'); -%>
